x-common-service: &common-service
  image: "${IMAGE}"
  privileged: true
  sysctls:
    kernel.sem: 500 1024000 200 4096
  init: true
  ulimits:
    nofile: 65535
  entrypoint: >
    sleep infinity

x-ssh-volume: &ssh-volume "$PWD/ssh_keys:/home/gpadmin/.ssh"

services:
  cdw:
    <<: [*common-service]
    working_dir: /home/gpadmin
    hostname: cdw
    volumes:
      - *ssh-volume
      - "$PWD/allure-results:/tmp/allure-results"
      - "$PWD/logs_cdw:/logs"
  sdw1:
    <<: [*common-service]
    privileged: true
    hostname: sdw1
    volumes:
      - *ssh-volume
      - "$PWD/logs_sdw1:/logs"
  sdw2:
    <<: [*common-service]
    hostname: sdw2
    volumes:
      - *common-volumes
      - "$PWD/logs_sdw2:/logs"
  sdw3:
    <<: [*common-service]
    hostname: sdw3
    volumes:
      - *ssh-volume
      - "$PWD/logs_sdw3:/logs"
